{% extends 'base.html' %}

{% block body %}
    {% load filters %}
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h1>Please enter your email and we will send the new password to you.</h1>
            <form action="/restore_password/" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <label for="id_subject">{{ form.email.label }}</label>
                    {{ form.email|add_class:'form-control' }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}